@if (day.Count != 0)
{
    <div class="timetable_day">
        @for (int i = 0; i < day.Count; i++)
        {
            ChangeColor(day[i]);
            <div class="class_item">
                <div class="class_number" style="@color_style">@day[i].Time[0]</div>
                <div class="card_container">
                    <div class="class_label" style="@color_style">@day[i].Type[0] | @day[i].Time[1]</div>
                    <div class="class_card">
                        <div class="class_name">@day[i].Name</div>
                        <div class="class_teacher_place">@day[i].Teacher <b>@day[i].Place</b></div>
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <div class="status_message_dayoff">
        <div class="status_message" style="display: block;">Пар сегодня нет 😎</div>
    </div>
}

@code {
    private List<ClassInfo> day = App.Tuesday != null ? App.Tuesday.Classes : new List<ClassInfo>();
    private string color_style;

    private void ChangeColor(ClassInfo classInfo)
    {
        switch (classInfo.Type[0])
        {
            case "Лекция":
                color_style = "background-color: #006cb7";
                break;
            case "Практические занятия":
                color_style = "background-color: #67bd45;";
                break;
            case "Лабораторная работа":
                color_style = "background-color: #ed1556";
                break;
        }
    }
}
