@page "/timetable"
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime


<body>
        <div class="timetable_tabbar">
        <div class="slider"></div>
		    <a class="tabbutton" href="timetable/#Monday"><h1 class="hh1">ПН</h1></a>
            <a class="tabbutton" href="timetable/#Tuesday"><h1 class="hh2">ВТ</h1></a>
            <a class="tabbutton" href="timetable/#Wednesday"><h1 class="hh3">СР</h1></a>
            <a class="tabbutton" href="timetable/#Thursday"><h1 class="hh4">ЧТ</h1></a>
            <a class="tabbutton" href="timetable/#Friday"><h1 class="hh5">ПТ</h1></a>
            <a class="tabbutton" href="timetable/#Saturday"><h1 class="hh6">СБ</h1></a>
        </div>
        <div class="timetable_container">
            @foreach (var day in App.Week)
            {
                <div class="timetable_day" id="@day.Date.DayOfWeek">
                    <h1>@day.Date.Date.ToString("d MMMM", System.Globalization.CultureInfo.GetCultureInfo("ru-RU"))</h1>
                    @if (day.Classes != null)
                    {
                        for (int i = 0; i < day.Classes.Count; i++)
                        {
                            ChangeColor(day.Classes[i]);
                            <div class="class_item">
                                <div class="class_number" style="@color_style">@day.Classes[i].Time[0]</div>
                                <div class="card_container">
                                    <div class="class_label" style="@color_style">@day.Classes[i].Type[0] | @day.Classes[i].Time[1]</div>
                                    <div class="class_card">
                                        <div class="class_name">@day.Classes[i].Name</div>
                                    <div class="class_teacher_place">
                                        @day.Classes[i].Teacher <b>@day.Classes[i].Place</b> @if (day.Classes[i].Type[1] != null)
                                        {
                                            <div class="marked"><svg xmlns="http://www.w3.org/2000/svg" height="1rem" fill="#282828" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" /></svg> @day.Classes[i].Type[1].Substring(16)</div>
                                        }
                                    </div>
                                </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="status_message_dayoff">
                            <div class="status_message" style="display: block;">Пар сегодня нет 😎</div>
                        </div>
                    }
                </div>
            }   
        </div>

    
</body>
<AnchorNavigation />
<script>
    document.querySelector('.timetable_container').addEventListener('scroll', () => {
        document.querySelector('.timetable_tabbar').style.setProperty('--scroll', (document.querySelector('.timetable_container').scrollLeft / (document.querySelector('.timetable_container').scrollWidth - window.innerWidth)));
	}, false);
</script>

@code {
    private string color_style;

    private void ChangeColor(ClassInfo classInfo)
    {
        switch (classInfo.Type[0])
        {
            case "Лекция":
                color_style = "background-color: #006cb7";
                break;
            case "Практические занятия":
                color_style = "background-color: #67bd45;";
                break;
            case "Лабораторная работа":
                color_style = "background-color: #ed1556";
                break;
            case "Зачет":
                color_style = "background-color: #492D15";
                break;
            case "Консультация":
                color_style = "background-color: #492D15";
                break;
            case "Экзамен":
                color_style = "background-color: #492D15";
                break;
        }
    }
}
